<div class="container text-center">
	<h2 class="bold">THE YEAR OF THE CONNECTED ECONOMY...<br>GO DOMINATE!<i class="pl-3 fas fa-comments-dollar"></i></h2>
	<h3 class="mt-4">
	Ambassador Michael Okoli<br>
	<small class="text-muted">The Entrepreneur Mentor</small>
	</h3>
	
	<div class="text-left mt-5 p-5" id="about-page-level-two">
		<p>
			<span class="first-letter-decoration">E</span>verything we have done in this past decades is just us rehearsing, prepping for the connected economy.
		</p>
		<p>
			We have said it countless times; we have not started yet, we are just testing the microphone. ALAS, we have been preparing and rehearsing for 2020 and <span class="bold">BEHOLD 2020</span> is now upon us.
		</p>
		<p>
			We have been talking about the connected economy in our presentations, now we are in the connected economy.
		</p>
		<p>
			Just like figthters' train in the camp weeks before a fight, footballers train before a mojor game, in the same way, these past years have been training for us. Now here's the deal; no matter how hard a fighter or a football team trains, once the whistle blows, if they don't show up and put what they learnt in training, then everything they did in the training camp becomes a waste.
		</p>
	</div>
	<div class="text-left mt-5 p-5" id="about-page-level-three-div">
		<p>
			THERE ARE SOME THINGS YOU CAN DO DURING TRAININGS AND REHEARSAL AND GET AWAY WITH IT, BUT IF YOU TRY IT ONCE THE GAME BEGINS, YOU PAY DEARLY FOR IT. SAME WAY, IF YOU RUN THIS BUSINESS ANYHOW THIS YEAR, YOU WILL HAVE YOURSELF TO BLAME BECAUSE 2020 IS THE YEAR OF THE CONNECTED ECONOMY.
		</p>
		<p>
			We have the first 12 months to estaablish ourselves for the next 9 years of the decade... 2020 is a defining year.
		</p>
	</div>
	<div class="p-5 mt-5" id="about-page-level-four-div">
		<h4>
			WARNING<span class="pl-4"><i class="fas fa-exclamation"></i><i class="fas fa-exclamation"></i><i class="fas fa-exclamation"></i></span>
		</h4>
		<p class="pt-5">
			IF YOU ENTER THE YEAR 2020 WITH AN I HAVE ARRIVED MENTALITY, YOU ARE LIKE A FIGHTER OR A FOOTBALL TEAM THAT AFTER SPENDING TIME HAVING A SUCCESFUL AND STRENOUS TRAINING CAMP, COMES INTO THE GAME WITH A NONCHALLANT ATTITUDE BANKING ON WHAT WAS DONE IN THE CAMP AND REFUSE TO GO DOWN TO THE TRENCHES TO DO THE WORK NEEDED TO WIN IN THE REAL STAGE... IT WILL BE A BIG DISASTER AND YOU MAY NEVER HAVE A SECOND CHANCE TO REDEEM YOURSELF.
		</p>
	</div>
	<div class="text-left mt-5 p-5" id="about-page-level-five-div">
		<p>
			2020 IS THE REAL STAGE. THE WHISTLE HAS ALREADY BEEN BLOWN. IT'S GAME ON. WHETHER YOU ARE AWARE OF IT OR NOT, THE CLOCK STARTS TICKING. IT REMINDS ME OF THE VETERAN BOXING RING FIGHT ANNOUNCEMENT BY JUMMY LENNON JR IN A BOXING MATCH... "LADIES AND GENTLEMEN IN ATTENDANCE, FIGHT FANS JOINING US ALL OVER THE WORLD THIS IS THE MOMENT YOU HAVE ALL BEEN WAITING FOR, THE JUDGES ARE READY, THE FIGHTERS ARE READY, THE FOR TALKS IS OVER, RIGHT NOW.. IT'S SHOW TIME!!! AND THE BELL RINGS". THE FIGHTERS AT THIS MOMENT GET INTO THE ZONE AND THE NEXT 30 MINUTES DEFINE THE NEXT PHASE IF TGEUR LIVES... THEY CAN'T AFFORD TO BLINK.
		</p>
	</div>
</div>
