<div class="container">
	<div class="row">
		<div class="col-md-10 mx-auto">
			<div class="card text-center">
				<img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1585772378/own-your-life/businessman-walking-with-cell-phone-city_fv2vpk.jpg" alt="Card image cap">
			</div>
		</div>
		<div class="col-md-9 mx-auto mt-5">
			<p class="text-center">The OWN YOUR LIFE(OYL) campaign is a business campaign that was created in 2016.<br> It was created to empower individuals attain Financial freedom, time and health freedom which is the common goal of the CFG</p>
			<h4 class="about-page-headings-blue">Financial freedom</h4>
			<p>You can finally get out of debt, invest in your dreams live a luxurious life.</p>
			<h4 class="about-page-headings-blue">Time freedom</h4>
			<p>You can now spend more time with loved ones, build and strengthen ties.</p>
			<h4 class="about-page-headings-blue">Health freedom</h4>
			<p>So you can enjoy the fruits of every seed you've planted! And of course to live happier and longer.</p>
		</div>
		<div class="col-md-8 mx-auto my-5">
			<h3 class="bold text-center">Let's listen to what our partners have to say about their experience becoming part of this campaign!</h3>
			<div class="mt-5">
				<h5 class="bold text-center">Watch this!!!</h5>
				<iframe style="width: 100%; height: 400px;" src="https://www.youtube.com/embed/T9z8KotICOM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<h4 class="bold my-5 text-center">What are you waiting for, there's no time to waste, book an online appointment now!! It's free.</h4>
			<h4 class="about-page-headings-blue">Listen to what others have to say</h4>
		</div>
	</div>
</div>

<div class="conatainer-fluid" id="testimoney">
		<div class="jumbotron">
			<div class="row">
				<div class="col-md-6 clients">
					<div class="row">
						<div class="col-md-3">
							<img class="about-testimony-photos" src="https://res.cloudinary.com/it-s-tech/image/upload/v1586128658/own-your-life/WhatsApp_Image_2020-04-04_at_6.20.17_PM_2_ncczqq.jpg">
						</div>

						<div class="col-md-8">
							<blockquote>
								<i class="fas fa-quote-left"></i>
								A Nigerian who joined the Own Your Life Campaign about a year ago, affirms that she was over joyed when she was introduced to the business and she left her paid job which wasn't taking her anywhere
								And now, since then she's made a lot of progress, feeling safe and knows that her future, financially is secured and she's gradually moving towards financial independence.
								<hr class="client-hr">
								<cite>&#8212; Louissa Barma</cite>
							</blockquote>
						</div>
					</div>
				</div>

				<div class="col-md-6 clients">
					<div class="row">
						<div class="col-md-3">
							<img class="about-testimony-photos" src="https://res.cloudinary.com/it-s-tech/image/upload/v1586128658/own-your-life/WhatsApp_Image_2020-04-04_at_6.20.17_PM_1_k8ppav.jpg">
						</div>
						<div class="col-md-8">
							<blockquote>
								<i class="fas fa-quote-left"></i>
								Hello Africa my name is Mrs J. Okeke I am a member of the Own Your Life Campaign. Before I started this business I worked for private firms where I was pain very small amounts of money which couldn't get me a proper upkeep. Later on a friend introduced me to this business I can say I have made one of my life's best decision because, just within a short time period I have been able to acquire much more than what I could ever get from my salary. This business suits all sort of persons especially single ladies, women who just got married, breast feeding mothers and every other. From home you can earn and just receive alerts on your phone, you can take care of more than one thing at a time. I encourage you to be a part of this.
								<hr class="client-hr">
								<cite>&#8212; Mrs Okeke</cite>
							</blockquote>
						</div>
					</div>
				</div>

				<div class="col-md-6 clients">
					<div class="row">
						<div class="col-md-3">
							<img class="about-testimony-photos" src="https://res.cloudinary.com/it-s-tech/image/upload/v1586128658/own-your-life/WhatsApp_Image_2020-04-04_at_6.20.17_PM_yxrk3d.jpg">
						</div>
						<div class="col-md-8">
							<blockquote>
								<i class="fas fa-quote-left"></i>
								Lived a poor life as a 'digital opetator' earning a salary of just N50k for over 6 years. A friend of mine introduced this business to me but I really didn't believe. I wasn't sure if it was real as people said it was. I was asked to come and see for myself, where I attended a seminar. After the seminar I became a part of the organization and my life has always been upwards making a lot of achievements as I met  people with same passion, same drive, support and men and women made of timber and caliber just by this business.
								I now move financially with greater speed than ever before. 
								No one has ever been made worse off after joining this business. I encourage everyone to be a part.
								<hr class="client-hr">
								<cite>&#8212; Michael</cite>
							</blockquote>
						</div>
					</div>
				</div>

				<div class="col-md-6 clients">
					<div class="row">
						<div class="col-md-3">
							<img class="about-testimony-photos" src="https://res.cloudinary.com/it-s-tech/image/upload/v1586128658/own-your-life/WhatsApp_Image_2020-04-04_at_6.20.18_PM_w0jocq.jpg">
						</div>
						<div class="col-md-8">
							<blockquote>
								<i class="fas fa-quote-left"></i>
								Hi guys my name is Raymond one of the senior coordinators to the own your life campaign. Basically this project is about showing people a legitimate way on how to raise capital for their particular projects and businesses. I became a part of this business few months ago when life was hard and difficult. A friend of mine introduced me to the organization where I partnered on a part time basis working in a particular place and also following my business. I later on realized that my business earned me more than I was paid . so u had to quit my job and focus on my business.
 								Its not really about how much I have  earned or what the business could do for him, its about the lives that have been touched, the families assisted, an the give backs to the society that matters. 
								The person you become, the money you make, the lives you touch is one thing very important in life. When you create so much wealth for yourself make sure it is distributed amongst those around you.
								At the moment we are integrating everyone be it old or young. This is a life changing opportunity. Don't miss out!
								<hr class="client-hr">
								<cite>&#8212; Raymond</cite>
							</blockquote>
						</div>
					</div>
				</div>

			</div><!--End Row-->
		</div><!-- End jumbotron-->
	</div>

	