<div class="container">
	<div class="row">
		<div class="col-md-10 mx-auto">
			<div class="card text-center">
				<img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1585772378/own-your-life/businessman-walking-with-cell-phone-city_fv2vpk.jpg" alt="Card image cap">
			</div>
		</div>
		<div class="col-md-9 mx-auto mt-5">
			<p class="text-center">The OWN YOUR LIFE(OYL) campaign is a business campaign that was created in 2016.<br> It was created to empower individuals attain Financial freedom, time and health freedom which is the common goal of the CFG</p>
			<h4 class="about-page-headings-blue">FINANCIAL FREEDOM</h4>
			<p>You can finally get out of debt, invest in your dreams live a luxurious life.</p>
			<h4 class="about-page-headings-blue">TIME FREEDOM</h4>
			<p>You can now spend more time with loved ones, build and strengthen ties.</p>
			<h4 class="about-page-headings-blue">HEALTH FREEDOM</h4>
			<p>So you can enjoy the fruits of every seed you've planted! And of course to live happier and longer.</p>
		</div>
		<div class="col-md-8 mx-auto mt-5">
			<h3 class="bold text-center">LET'S LISTEN TO WHAT OUR PARTNERS HAVE TO SAY ABOUT THEIR EXPERIENCE BECOMING PART OF THIS CAMPAIGN!</h3>
			<div class="mt-5">
				<h5 class="bold text-center">WATCH THIS!!!</h5>
				<iframe style="width: 100%; height: 400px;" src="https://www.youtube.com/embed/T9z8KotICOM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<h4 class="bold my-5 text-center">WHAT ARE YOU WAITNG FOR, THERE'S NO TIME TO WASTE, BOOK AN ONLINE APPOINTMENT NOW!! ITS FREE.</h4>
			<h4 class="about-page-headings-blue">LISTEN TO WHAT OTHERS HAVE TO SAY</h4>
		</div>
	</div>
</div>