<div class="container-fluid" style="padding-top: 80px" id="blog-wrapper-div">
	<h4 class="text-center bold">Check out these frequently asked questions.</h4>
	<div class="row">
		<div class="col-md-7 p-5 mx-auto blog-item-wrapper my-5">
			<h5 class="bold blog-medium-headings">Does It Involve Money?</h5>
			<p>Yes it involves money, the money you are paying is to purchase products worth a certain amount and product worth more than that initail pay will be given to you consumed the money been for is for a package not a registration fee.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-7 p-5 mx-auto blog-item-wrapper my-5">
			<h5 class="bold blog-medium-headings">What If I Don't Get Two People Registered?</h5>
			<p>The own your life campaign has different systems that makes it easier to connect to people withut having to market or convince them, the sytem saves you the time, money,energy and the stress and also using our S.M.O checklist is also a proven system that works if you go through the S.M.O( Standart Methods Of Operations) it is not possible not no succeed.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-7 p-5 mx-auto blog-item-wrapper my-5">
			<h5 class="bold blog-medium-headings">Am I Selling Products?</h5>
			<p>You do not sell products, buying and selling is over is in the industry economy, the connected economy you share values from connections and that is how money is made, you use the product for yourself that is the health benefit because you need the products to stay healthy and our common goal is to help our partners achieve financial freedom, time freedom, health freedom.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-7 p-5 mx-auto blog-item-wrapper my-5">
			<h5 class="bold blog-medium-headings">How Do I Know I Am Making The Money?</h5>
			<p>Once you are a registered partner, a D.T.C (Distributor Tracking Center) will be created for you to monitor your business which contains your login information (username and password) when you make money you will be able to see it in your D.T.C.</p>
		</div>
	</div>
		
</div>