<div class="container mb-5">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="card text-center">
				<img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1585772381/own-your-life/wall_mock_up2_bwg0ni.jpg" alt="Card image cap">
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>

<div class="container">
	<h3 class="text-center bold">CENTURY21 FREEDOM GROUP</h3>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h4 class="my-4">WHO WE ARE?</h4>
			<p class="text-center">Is a group of creative and forward-thinking individuals from different fields of endeavours across the globe, working together to achieve A COMMON GOAL; <br> We provide the system, structur and support.</p>
			<div class="card text-center my-5">
				<img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1585447616/own-your-life/web_banner_yxbnlq.jpg" alt="Card image cap">
			</div>
			<p class="text-center">This common goal is to help partners achieve financial,<br> time and health freedom.</p>
			<p class="text-center">We provide the system, structural and support to <br> archieve this goal.</p>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>

<div class="container mt-4">
	<h3 class="bold text-center mb-4">HOW WE DO THIS?</h3>
	<div class="row">
		<div class="col-md-8 mx-auto pb-5">
			<p class="pb-3">CFG gas designed specific campaigns that will break the limitations people struggle with, stopping them from accomplishing their dreams or living the lives they want without fear. We create jobs, provide quality health products amd make millionaires faster than any other industry there is and anyone can be part of these campaigns and get the life they deserve or want through hardwork and guidance from us.</p>
			<a class="button-bg-orange" href="/pages/about">SEE MORE</a>
		</div>
		<div class="col-md-6 mx-auto">
			<div class="card text-center">
				<img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1585447615/own-your-life/watch_on_arm_pe5r6n.jpg" alt="Card image cap">
			</div>
		</div>
	</div>
</div>

<div class="container my-5">
	<h3 class="bold text-center mb-4">OWN YOUR LIFE CAMPAIGN</h3>
	<div class="row">
		<div class="col-md-8 mx-auto pb-5">
			<p class="pb-3">The OYL campaign is a business campaign that was created to empower individuals attain financial, time and health freedom which is the common goal of the CENTURY 21 FREEDOM GROUP (CFG)</p>
		</div>
		<div class="col-md-6 mx-auto">
			<div class="card text-center">
				<img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1585873086/own-your-life/cars_bdwxv4.jpg" alt="Card image cap">
			</div>
		</div>
	</div>
</div>

<div class="container mt-4">
	<h3 class="bold text-center mb-4">LA BUENA VIDA</h3>
	<div class="row">
		<div class="col-md-8 mx-auto pb-5">
			<p class="pb-3">La Buena Vida means the good life. This project is aimed at  helping thousands of Nigerians and Africans LIVE THE GOOD LIFE. We started with the OYL campaign last decade which talked on Financial, Time and Health Freedom. In this new decade, we will launch a new project, <span class="bold">The good life, LA BUENA VIDA</span></p>
		</div>
		<div class="col-md-6 mx-auto">
			<div class="card text-center">
				<img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1585872979/own-your-life/PHOTO-2020-03-16-16-59-07_hqcyyq.jpg" alt="Card image cap">
				<img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1585872981/own-your-life/2C4A6066-84B9-4375-99D4-4C3FA3C09BFC-645-0000007B0D6C4F8E_fboycz.jpg" alt="Card image cap">
			</div>
		</div>
		<div class="col-md-8 mx-auto pb-5">
			<p class="py-3">The millennials love and want the good life, in this decade, people will be addicted to the GOOD LIFE, so we are launching it. The modalities on how we are going to run this will come out later. For more information please</p>
			<a class="button-bg-orange" href="/pages/contact">contac us</a>
			
		</div>
	</div>
</div>

