

<section id="home-page">

  		<div class="container-fluid">
  			<div class="row" id="home-page-level-one">
	  			<div class="col-md-6" id="home-page-level-one-left">
	  				
	  			</div>
	  			<div class="col-md-6 align-items-center d-flex text-center text-white" id="home-page-level-one-right">
	  				<div class="p-5">
	  					<h1>We are own your life</h1>
	  					<p class="my-5">Financial Freedom - Debt Freedom Research has shown that responsibilities only grows while income remains fixed and that the average African man's responsibility triples every year while his income increases insignificantly as compared to his responsibilities. But you don't need to keep on struggling. Financial freedom is a choice which many don't have. But we are here to give you this choice and we hope you take advantage of this opportunity.</p>
	  					<a class="button-bg-black" href="#">LIFESTYLE</a>
	  				</div>
	  			</div>
  			</div>
  		</div>

  		<div class="container-fluid p-5 text-center" id="home-page-level-two-div">
  			<h1>We've created over 100 Millionaires in 4 years Don't miss out on this opportunity, become our partner.</h1>
  		</div>

  		<div class="container-fluid text-center" id="home-page-level-three-div">
  			<div class="row">
  				<div class="col-md-3 d-flex align-items-center mb-4">
  					<div class="text-center">
  						<h2 class="pb-2">WHAT MAKES US AWESOME AND SURE?</h2>
  						<a class="button-bg-green" href="#">BECOME A PARTNER</a>
  					</div>
  				</div>
  				<div class="col-md-3">
  					<div class="home-page-level-three-green-div">
  						<h2 class="text-center"><i class="far fa-flag"></i></h2>
  						<h4>A SUPPORT SYSTEM</h4>
  					</div>
  					<div>
  						 <p>We are not just an NGO with ideas and plans but we have created over 100 millionaires in the past 4 years in Nigeria. We have put in place a working system builds to support all partners in this campaign against tough economies and time restraints, any other forms of limitations stopping you from reaching your goal.</p>
  					</div>
  				</div>
  				<div class="col-md-3">
  					<div class="home-page-level-three-green-div">
  						<h2 class="text-center"><i class="fas fa-tv"></i></h2>
  						<h4>TRAININGS</h4>
  					</div>
  					<div>
  						 <p>We have the training, resources, and seminars structured to build you up to become rich and have control over your income. Only you can determine your success not us that's why we are here to provide all you need to be successful.</p>
  					</div>
  				</div>
  				<div class="col-md-3">
  					<div class="home-page-level-three-green-div">
  						<h2 class="text-center"><i class="fas fa-headset"></i></h2>
  						<h4>LIFE AND FINANCIAL COACHES<h4>
  					</div>
  					<div>
  						 <p>All partners in this campaign get life coaches and guidance every day for the rest of their lives. There will be no reason or excuse why you can't reach your financial goals</p>
  					</div>
  				</div>
  			</div>
  		</div>

  		<div class="p-2" id="home-page-level-four-div">
  			<div class="container">
  				<div class="row text-center">
  					<div class="col-md-8 pt-5" id="home-page-level-four-green-div">
  						<h1>WHY MOST PEOPLE ARE POOR?</h1>
  						<p style="font-size: 1.5em;">
                <ul>
                  <li>JOB SECURITY.</li>
                  <li>FEAR OF THE UNKNOWN.</li>
                  <li>LACK OF FINANCIAL EDUCATION</li>
                  <li>PHYSICAL LAZINESS AND MENTAL LAZINESS</li>
                  <li>IMPATIENCE AND INABILITY TO DELAY GRATIFICATION</li>
                  <li>SEEKING FOR APPROVAL AND OPINION OF OTHERS</li>
                  <li>OBSOLETE MENTAL PROGRAMMING</li>
                  <li>RELYING ON FORMAL EDUCATION AND NOT SELF EDUCATION</li>
                </ul>      
              </p>
  					</div>
  					<div class="col-md-4" id="why-most-people-are-poor-picture">

  					</div>
  				</div>
  			</div>
  		</div>

  		<div class="container p-2 my-2" id="home-page-level-five-div">
  			<div class="row">
  				<div class="col-md-4">
  					<h1>WE ARE OWN YOUR LIFE</h1>
  				</div>
  				<div class="col-md-4">
  					<i class="far fa-clock" style="font-size: 7em;"></i>
  				</div>
  				<div class="col-md-4">
  					<h1>MAKE MORE WEALTH WITH TIME</h1>
  				</div>
  			</div>
  		</div>

  		<div class="container-fluid" id="home-page-level-six-div">
  			<div class="row">
  				<div class="col-md-6">
  					<div class="card text-center">
  						<img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1584408152/own-your-life/2564_ohjmsr.jpg" alt="Card image cap">
  						
  					</div>
  				</div>
  				
  				<div class="col-md-6 d-flex align-items-center p-5 home-page-level-six-orange-div">
  					<div>
  						<h1>Who is this own your life campaigne for?</h1>
  						<h3>FOR YOU IF YOU HAVE AN INCOMPLETED PROJECT OR BUSINESS THAT NEEDS FUNDING.</h3>
              <h3>LOOKING FOR A JOB</h3>
              <h3>SEEKING TO CREATE RESIDUAL (CONTINUOUS) INCOME</h3>
  					</div>
  				</div>

  				<div class="col-md-6">
  					<div class="row">
  						<div class="col-md-6 col-6">
  							<div class="card text-center">
		  						<img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1584408157/own-your-life/19022_ihujgy.jpg" alt="Card image cap">
		  						<p class="h5">here random text, some random text</p>
		  					</div>
  						</div>

  						<div class="col-md-6 col-6">
  							<div class="card text-center">
		  						<img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1584408157/own-your-life/19022_ihujgy.jpg" alt="Card image cap">
		  						<p class="h5">some random text, some random text</p>
		  					</div>
  						</div>

  						<div class="col-md-6 col-6">
  							<div class="card text-center">
		  						<img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1584408149/own-your-life/640-02767942en_Masterfile_fp8ivp.jpg" alt="Card image cap">
		  						<p class="h5">some random text, some random text</p>
		  					</div>
  						</div>

  						<div class="col-md-6 col-6">
  							<div class="card text-center">
		  						<img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1584408149/own-your-life/640-02767942en_Masterfile_fp8ivp.jpg" alt="Card image cap">
		  						<p class="h5">some random text, some random text</p>
		  					</div>
  						</div>
  					</div>
  				</div>

  				<div class="col-md-6 p-5 home-page-level-six-orange-div d-flex justify-content-center align-items-center">
  					<div>
  						<h1>WE ARE WON YOUR LIFE</h1>
              <h5>WE EMPOWER AND GIVE YOU SUPPORT</h5>
  						<p>Be a part of this campaign whose mission is to enable people like you to create wealth, and push you so you can matter how big they are.</p>
  						<a class="button-bg-black" href="#">CLICK HERE</a>
  					</div>
  				</div>
  			</div>
  		</div>

      <div class="text-center p-5 text-white" id="home-page-level-seven-div">
        <h2>THANKS FOR VISITING</h2>
        <h4>STAY IN TOUCH</h4>
        <p>some random text, some random text, some random text, some random text, some random text</p>
      </div>
  		
  	</section>