
<div class="container-fluid" id="life-style-page-level-one">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="card text-center">
				<img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1584408153/own-your-life/2600_s4sn4z.jpg" alt="Card image cap">
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>

<div class="container my-5" id="life-style-page-level-two">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 text-center">
		<h1 class="d-none d-md-block">The lifestyle of our patners</h1>
		<h2 class="d-md-none">The lifestyle of our patners</h2>
		<p> Once you become a partner with OWN YOUR LIFE you have amazing opportunities available to you additional to making residual income yearly. All these benefits are archeivable once you hit the organizational goals set for that year, you will not be alone ofcourse, but with the full aid of our teams</p>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>

<div class="container" id="life-style-page-level-three">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h3 class="text-center"><u>CAR AWARDS</u></h3>
			<div class=" text-center">
				<img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1585441866/own-your-life/gift_mercedes_jirkzc.jpg" alt="Card image cap">
				<div class="card-body">
					<p class="card-text">Our partners receive car awards when targets are met. The sensation of a brand new car, the smell, the feel and the look and the status it brings is what we help our partners archieve.</p>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</div>

<div class="container my-5" id="life-style-page-level-four">
	<h3 class="my-3"><u>TRIPS</u></h3>
	<div class="row">
		<div class="col-md-6 d-flex align-items-center">
			<p>Imagine getting a FREEE international trip for making a lot of money. Sightseeing, fun at the beach, great food and booking at a luxury hotel, all expenses paid for</p>
		</div>
		<div class="col-md-6">
			<div class="card text-center">
				<img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1585445360/own-your-life/los_angeles_j0y2c6.jpg" alt="Card image cap">
			</div>
		</div>
		<div class="col-md-6">
			<div class="card text-center">
				<img class="card-img-top" src="https://res.cloudinary.com/it-s-tech/image/upload/v1585445361/own-your-life/lifestyle_lrq0b9.png" alt="Card image cap">
			</div>
		</div>
		<div class="col-md-6 d-flex align-items-center">
			<p>As a patner, you can get this treatment and benefits, having hit the target set for the year. Last but not the least, up to 3 trips are available to partners every year.</p>
		</div>
	</div>
</div>
