<div id="footer-section" class="container-fluid mt-5 py-5">
  <div class="container text-center" id="footer-container">
    <div class="row">
        <div class="row">
          <div class="col-md-3">
            <h6 class="footer-heading mb-4">RESOURCES</h6>
            <ul class="list-unstyled">             
              <li><a class="footer-links" href="#">Podcast</a></li>
              <li><a class="footer-links" href="#">Webinars</a></li>
              <li><a class="footer-links" href="#">Blog</a></li>
              <li><a class="footer-links" href="#">Partner Program</a></li>
            </ul>
          </div>

          <div class="col-md-3">
            <h6 class="footer-heading mb-4">SUPPORT</h6>
            <ul class="list-unstyled">
              <li><a class="footer-links" href="#">Support</a></li>
              <li><a class="footer-links" href="#">Terms and Conditions</a></li>    
              <li><a class="footer-links" href="#">GDPR</a></li>         
              <li><a class="footer-links" href="#">Privacy Policy</a></li>
              <li><a class="footer-links" href="#">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-md-3">
           <h6 class="footer-heading mb-4">OYLCAMPAIGN</h6>
            <ul class="list-unstyled">
              <li><a class="footer-links" href="#">About</a></li>
              <li><a class="footer-links" href="#">Success Stories</a></li>
              <li><a class="footer-links" href="#">Careers</a></li>
            </ul>
          </div>

          <div class="col-md-3 ml-auto">
            <a href="#"><img src="https://res.cloudinary.com/it-s-tech/image/upload/v1584749042/own-your-life/Own_Yout-02_axwbht.png" alt="Image" class="img-fluid mb-3"></a>       
          </div>
        </div>      
    </div>
  </div>
</div>
