
<nav class="navbar navbar-expand-md fixed-top" id="navbar-wrapper-nav">
	<a style="width: 20%;" class="navbar-brand" href="/"><img src="https://res.cloudinary.com/it-s-tech/image/upload/v1584749042/own-your-life/Own_Yout-02_axwbht.png" style="width: 100%;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"><i class="fas fa-sliders-h text-dark"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarResponsive">
  	<ul class="navbar-nav ml-auto h5">
  		<li class="nav-item">
  			<a class="nav-link" href="/">HOME</a>
  		</li>
  		<li class="nav-item">
  			<a class="nav-link" href="/pages/about">ABOUT US</a>
  		</li>
  		<li class="nav-item">
  			<a class="nav-link" href="/pages/blog">BLOG</a>
  		</li>
  		<li class="nav-item">
  			<a class="nav-link" href="/pages/cfg">CFG</a>
  		</li>
      <li class="nav-item">
        <a class="nav-link" href="/pages/lifestyle">LIFESTYLE</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/pages/contact">CONTACT</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/pages/appointment">BOOK A BUSINESS PRESENTATION</a>
      </li> 	  		
  	</ul>
  </div>
</nav>